<html>
    <body>
        <h1>Cadastro de Produtos</h1>
        <form action="/Produtos" method="post">
            <if(data.Produtos.id)>
            <section>
                <input type="hidden" name="_method" value="put">
            </section>
            </if>

            <input type="hidden" id="id" name="id" value="${data.produto.id}" />
            <section>
                <label for="nome">nome:</label>
                <input type="text" id="nome" name="nome" value="${data.produto.titulo}"  placeholder="digite a validade do produto"/>
            </section>
            <section>
                <label for="laboratorio">laboratorio:</label>
                <input type="text" id="laboratorio" name="laboratorio" value="${data.produto.autor}"  placeholder="digite o nome do produto"/>
            </section>
            <section>
                <label for="preco">preco:</label>
                <input type="number" id="preco" name="lab" value="${data.produto.preco}"  placeholder="digite o nome do laboratorio"/>
            </section>
            <section>
                <label for="numerodoproduto">numerodoproduto:</label>
                <input type="numerodoproduto" id="numerodoproduto" name="numerodoproduto" value="${data.produto.numerodoproduto}"  placeholder="digite o nome do numerodoproduto"/>
            </section>
            <section>
                <label for="descricao">Descricao:</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="digite a descricao do livro"> ${data.livro.descricao} </textarea>
            </section>
            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>
